*, *::before, *::after {
    box-sizing: border-box;
}

$font-text: 'Montserrat', sans-serif;
$font-header: 'Spectral', sans-serif;

$color-one: #fed33e;

body {
    margin: 0;
}

header {
    height: 100vh;
    background-image: url('/images/background.png');
    background-size: cover;
    display: flex;
}

.navbar {
    position: absolute;
    width: 100%;
    padding: 42px;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: auto;
    text-align: center;
}


.row {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.navbar-brand {
    margin-top: auto;
    margin-bottom: auto;
}

.logo {
    color: $color-one;
    text-decoration: none;
    font-family: 'Norican', cursive;
    font-size: 26px;

}

ul {
    list-style-type: none;
    display: flex;
    
}

li {
    margin-right: 40px;
}

li > a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: $font-text;
}

.splash-inner {
    margin: auto;
    text-align: center;
    color: #fff;
}

.page-subtitle {
    font-family: $font-header;
    font-size: 40px;
}

.page-title {
    font-family: $font-text;
    font-size: 75px;
    text-transform: uppercase;
    font-weight: bold;
}

button {
    display: inline-block;
    min-width: 240px;
    margin: 24px auto 0 auto;
    padding: 20px;
    font-family: $font-text;
    text-transform: uppercase;
    background-color: $color-one;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}



.container-title {
    font-family: $font-text;
    font-size: 40px;
    margin-bottom: 5px;
}

.container span {
    font-family: $font-header;
    font-size: 16px;
    color: #777777;
}

.services > .container {
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.services > .container > .row {
    padding-top: 80px;
}

.box {
    padding: 25px 18px;
}
.box i {
    font-size: 28px;
    color: $color-one;
    width: 56px;
    height: 56px;
    line-height: 56px;
    border: 4px solid;
    border-radius: 50%;
    border-color: $color-one;
}

h3 {
    font-family: $font-text;
    font-weight: bold;
    font-size: 18px;
}

.box p {
    font-family: $font-text;
    font-size: 14px;
    color: #777777;
}

.portfolio {
    background-color: #f7f7f7;
    padding: 120px 0;
}

.portfolio > .container > .row {
    flex-wrap: wrap;
}



.footer-text {
    margin: auto 0;
}

.footer-text > span {
    font-family: $font-text;
    font-size: 14px;
}

.footer-icons {
    margin: auto;
    color: #fff
}

.footer-icons i {
    background-color: #282828;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    line-height: 56px;
}